body
{
    overflow-x: hidden;
}

nav{
    z-index: 10;
}


.navbar-nav li{
    margin-right: 15px;
    margin-left: 15px;
 
}

.form-control{
    border-radius: 20px;
    background: #F9F2F2;
    width: 350px;
}

.rightofsearchicons
{
    margin-left: 10px;
}

.fa-heart
{
    font-size: 17px;
}
.wishlisttext
{
    margin-left: -10px;
    margin-top: 1px;
    font-size: 10px;
}

.bag
{
    margin-left: -2px;
    margin-top: 1px;
    font-size: 10px;
}


.filters
{
    border-right: 1px solid black;
    width: 16%;
    background-color:#faebd7;
    margin-top: 14px;
}

.ind_filter
{
    margin-bottom: 10px;
    border-bottom: 0.5px solid black;
}

.as img
{        
    width: 180px;
    height: 240px;
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {
    .banner1 img
    {
        width: 100%;
        height: 150%;
    }

    .bn1
    {
        margin-bottom: 20%;
    }

}



#demo
{
    background-color:#ff3e6c;
    color:white;
    border-radius:30px;
}

#timeleft,#navhint
{
    display:none;
}


.card-header
{
    background-color: #c7720f;
}

.card-body
{
    background-color: antiquewhite;
}

.card-text,.card-title
{
    color: black;
    border-color: #c7720f;
}

.bg,.card-body{
    border-color: #c7720f !important;
    border: 1px solid;
}


.card{
    border: 2px solid #c7720f !important;
}

 
.navbar-light
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #c7720f;
}

.nav-link
{
    color: white !important;
}



/* SELL FORM */
.form-style-9{
	max-width: 900px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #c7720f;
    margin-top: 100px;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #c7720f;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}
.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #c7720f;
	border:1px solid #c7720f;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 70px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #c7720f;
	-webkit-box-shadow: inset 0px 1px 0px 0px #c7720f;
	box-shadow: inset 0px 1px 0px 0px #c7720f;
	background-color: #c7720f;
	border: 1px solid #c7720f;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 16px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, orange 5%,orange 100%);
	background-color: #c7720f;
}

.picaccept
{
    margin-left: 50px;
}
 

